<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="persons">Люди</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="persons/add">Добавить нового человека</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
