<div class="container my-5">
  <h1 class="mb-3">Записная книжка</h1>

  <table class="table" *ngIf="persons && persons.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Год рождения</th>
        <th>Номера телефонов</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let person of persons">
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.yearOfBirth }}</td>
          <td>{{ person.phoneNumbers }}</td>
          <td><a [routerLink]="['/persons', 'edit', person.id]">Редактировать</a></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <p *ngIf="!persons || persons.length <= 0">Люди не найдены</p>
</div>
